body {
    --base-font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue,
      Roboto, sans-serif;
    --base-header-height: 64px;
    --base-left-slider-width: 200px;
    --base-content-padding: 24px;
   
  }
  